{% extends "base.html" %}
{% load static %}
{% block title %}
	Thanks! - Bookspace.
{% endblock %}
{% block content %}
	<div>
		<div class="text-center">
			<br>
			<br>
			<h1 class="text-center my_title">
				Thanks for contacting us!
			</h1>
			<br>
			<p>
                We have received your message and will get back to you as
                as soon as possible. 
                For your records an email confirmation has been sent to 
                you.
			</p>
		</div>
	</div>
	<br>
	<br>
{% endblock %}