{% extends "base.html" %} 
{% load static %} 
{% block metadescription %} 
This page displays manager content. 
{% endblock %} 
{% block title %} 
Manage - Bookspace. 
{% endblock %} 
{% block content %}
<div class="container">
  <h1>Manager Dashboard</h1>
  <p style="font-weight: lighter">Hi {{request.user}}</p>
  <div class="row mt-5">
    <div class="col-4">
      <a
        href="{% url 'shop:book_new' %}"
        style="width: 19vw"
        class="btn btn-secondary px-5 rounded-0 py-2"
      >
        <i style="font-size: 40px" class="fas fa-book-medical d-block"></i>Add
        book</a
      >
    </div>
    <div class="col-4">
      <a
        href="{% url 'dashboard:reportsView' %}"
        style="width: 19vw"
        class="btn btn-secondary px-5 rounded-0 py-2"
      >
        <i style="font-size: 40px" class="fas fa-chart-line d-block"></i
        >Reports</a
      >
    </div>
    <div class="col-4">
      <a
        href="{% url 'dashboard:all_orders' %}"
        style="width: 19vw"
        class="btn btn-secondary px-5 rounded-0 py-2"
      >
        <i style="font-size: 40px" class="fas fa-shopping-cart d-block"></i>All
        Orders</a
      >
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <a
        href="{% url 'shop:book_list' %}"
        style="width: 19vw"
        class="btn btn-secondary px-5 rounded-0 py-2"
      >
        <i style="font-size: 40px" class="fas fa-book d-block"></i>Book List</a
      >
    </div>
    <div class="col-4">
      <a
        href="{% url 'password_change' %}"
        style="width: 19vw"
        class="btn btn-secondary px-5 rounded-0 py-2"
      >
        <i style="font-size: 40px" class="fas fa-unlock d-block"></i
        >Change Password</a
      >
    </div>
    <div class="col-4">
      <a
        href="{% url 'dashboard:user_list' %}"
        style="width: 19vw"
        class="btn btn-secondary px-5 rounded-0 py-2"
      >
        <i style="font-size: 40px" class="fas fa-user d-block"></i
        >Users</a
      >
    </div>
  </div>
</div>
{% endblock content%}
