{% extends "base.html" %}
{% load static %}
{% block title %}
	Order List - Bookspace.
{% endblock %}
{% block content %}
{% include "dashboard/manager_navigation.html" %}


<h1 class="py-5">Orders</h1>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Ref code:</th>
				<th scope="col">Billing Name</th>
				<th scope="col">Email</th>
				<th scope="col">Refund req.</th>
				<th scope="col">Refund granted</th>
				<th scope="col">Shipped</th>
				<th scope="col">Total</th>
				<th scope="col">Activity</th>
			</tr>
		</thead>
		<tbody>
{% for order in orders %}

			<tr>
				<th scope="row">{{ order.id }}</th>
				<td>{{ order.ref_code }}</td>
				<td>{{ order.billingName }}</td>
				<td>{{ order.emailAddress }}</td>
				<td>{{ order.refund_requested }}</td>
				<td>{{ order.refund_granted }}</td>
				<td>{{ order.being_delivered }}</td>
				<td>€{{ order.total }}</td>
				<td>
					<a style="font-size: 12px;" class="btn btn-sm btn-info" href="{% url 'order:order_detail' order.id %}">View</a>
				</td>
			</tr>
{% endfor %}

		</tbody>
	</table>
</div>
</div>
{% endblock %}