
{% load static %}

{% block content %}
{% include "dashboard/manager_navigation.html" %}

<h1 class="py-5">Users</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Username</th>
			<th scope="col">Email</th>
			<th scope="col">Staff</th>
		</tr>
	</thead>
	<tbody>
{% for user in users %}

		<tr>
			<th scope="row">{{user.id}} </th>
			<td> {{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>{% if user.is_staff == True %} <i class="fas fa-check-square"></i> {% else %} <i class="fas fa-times"></i> {% endif %} </td>
		</tr>
{% endfor %}

	</tbody>
</table>
</div>
{% endblock %}
{% block title %}
	Users - Bookspace.
{% endblock %}