{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to the Online Book Store where you can buy awesome books.
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }} - Bookspace.
{% else %}
Best Value - Bookspace.
{% endif %}
{% endblock %}
{% block content %}

{% if profile %}
{% for p in profile%}
<div class="text-center">
<img style="width: 290px;;" src="{{p.profile_image.url}}" alt="profile-iamge">
<h1>{{p.user}}</h1>
<p>{{p.email_address}}</p>
<p>{{p.colour}}</p>
<p>Orders Placed {{orders|length}}</p>
<p>Items in WishList {{wishlist|length}}</p>
<p>Reviews By {{request.user}}: {{reviews|length}}</p>
</div>
{%endfor%}
{%endif%}



{% endblock content %}