{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to the Online Book Store where you can buy awesome books.
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }} - Bookspace.
{% else %}
Best Value - Bookspace.
{% endif %}
{% endblock %}
{% block content %}
<style>
	.menu {
		height: 100%;
		width: 300px;
		z-index: 1;
		left: 0;

		padding-top: 20px;
		background-color: #282d32;
		position: absolute;
		margin-bottom: -40px;

	}

	.menu a {
		text-decoration: none;
		list-style-type: none;
		display: block;
		text-transform: uppercase;
	}

	.menu a:hover {
		background-color: grey;
	}
</style>






<div class="container ">


	<div class="menu">

		<a style=" font-weight:20px; " href="{% url 'dashboard_view'%}" class="text-justify text-light btn rounded-0">
			<i class="fas fa-chevron-left"></i> Account dashboard
		</a>
		<a style=" font-weight:20px" class="text-justify text-light btn  rounded-0">Profile </a>
		<a style=" font-weight:20px" href="{% url 'shop:wishList_books'%}"
			class="text-justify text-light btn rounded-0 disabled">Wishlist</a>
		<a style=" font-weight:20px" href="{% url 'order:order_history'%}"
			class="text-justify text-light btn rounded-0">Orders</a>
		<a href="{% url 'shop:reviewList'%}" style="  font-weight:20px" class="text-justify  text-light btn rounded-0"
			aria-disabled="true">Reviews</a>


	</div>
	<h1 style="font-weight: lighter;" class="mb-5">Profile - {{p.user}}</h1>
	<div class="row">
		{% if p%}

		<div class="col-4">
			<div class="text-justify">
				<img class="profile-pic "
					style=" height: auto; border-radius: 50%; width: 350px; height: 350px; object-fit: cover;"
					src="{{p.profile_image.url}}" alt="profile-iamge">

				
				<h1 style="font-size: 40px; font-family:Helvetica;" class=" pt-5 text-justify">{{p.first_name}} {{p.last_name}}</h1>
				<h1 style="font-size: 30px;" class="text-justify text-secondary">{{p.user}}</h1>
				<!--<p>{{p.email_address}}</p>
				<p>{{p.colour}}</p>
				<p>Orders Placed {{orders|length}}</p>
				<p>Items in WishList {{wishlist|length}}</p>
				<p>Reviews By {{request.user}}: {{reviews|length}}</p>-->
				
			</div>
			{%endif%}
		</div>

			<div class="col-8">
				<form style="font-weight: lighter;" method="POST" action="" enctype="multipart/form-data">
					{%csrf_token%}


					<p style="font-weight: lighter;">{{form.as_p}}</p>


					<input class="btn btn-primary" type="submit">
				</form>

			</div>






		
	</div>
</div>

{% endblock content %}