



<nav   style=" margin-bottom: 4.9px;" class=" border-top navbar navbar-expand-lg navbar-light border-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li style="font-size: 11px; margin-left: 70px;" class="nav-item">
          <a style="display: inline-block; margin-right:0px;" class="nav-link text-dark" href="{% url 'shop:allBookCat'%}">All Books |</a>
          {% for cat in links %}
            <a style="display: inline-block; margin-left: -10px" class="nav-link text-dark" href="{{cat.get_absolute_url}}">{{cat.name}} |</a>
          {% endfor %}
          <a style="display: inline-block; margin-left: -10px;" class="nav-link text-dark" href="{%url 'shop:cheapBooks' %}">Best Value |</a>
          <a style="display: inline-block; margin-left: -10px;" class="nav-link text-dark" href="{%url 'shop:topRatedBooks' %}">Top Rated |</a> 
        </li>
      </ul>
    </div>
      {% if item_count > 0 %}
      <form class="form-inline my-2 my-lg-0"  style="margin-right: 0px;" action="{% url 'search_app:searchResult'%}" method="get">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search" name="q">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      
      <ul  class="navbar-nav mr-auto">
        
          <li style="margin-right: 100px;" class="nav-item">
          <a class=" text-dark nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i><span class="text-danger">({{item_count}})</span></a>
          
        </li>

      </ul>
    
        {%else %}
        <form style="margin-right: 160px;" class="form-inline my-2 my-lg-0" action="{% url 'search_app:searchResult'%}" method="get">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search" name="q">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        {% endif%}
     
        
    </div>
</nav>
