<style>
	ul>li>a:hover{
		text-decoration: underline;
	}
</style>

<div class="container" >
	<div class="my_custom_menu">
		
		<ul style="position: sticky; top: 0; z-index: 2; background-color: white;"  class="text-right">

			<li  class="mt-2" style="float: left; margin-right: -10px;">
				{{profile.user}} 
				<a href="{% url 'shop:allBookCat' %}">Home</a> |
			</li>

			<li  class="mt-2" style="float: left;">
				
				<a href="/contact">Contact</a> |
			</li>
			<li class="mt-2" style="float: left; margin-left: -12px; margin-right: 12px;;">
				<a href="{% url 'blog:blog_list'%}"> Blog</a> |
			</li>
		
			{% if user.is_authenticated %}
			<li  class="mt-2" style="float: left; margin-left: -21px;">
				<a href="{% url 'dashboard_view'%}">ACCOUNT</a> |
			</li>
			{% if request.user.groups.all.0.name == "Manager" %}
			<li  class="mt-2" style="float: left; margin-left: -12px; margin-right: 12px;">
				<a href="{% url 'dashboard:manager_dashboard' %}">dashboard</a> |
			</li>
			{% endif %}
			{% endif %}
			{%if request.user.groups.all.0.name == "Manager" %}
		
				<span class="badge badge-dark">Manager</span>
			
			{%endif%}

			{% if user.is_authenticated %}
			<li class="dropdown">
                <!--Welcome,--> 
				<a style="height: 0px;" href="{% url 'profile_view'%}" class="" 
                aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
			{%for i in profile%}<img style="position: inherit; height: auto; border-radius: 50%; width: 25px; height: 25px; object-fit: cover;"
				src="{{i.profile_image.url}}">{%endfor%}
				<div class="dropdown-menu dropdown-menu-right"> 
			<!--	<a  href="{% url 'order:order_history' %}" class="dropdown-item">Order History</a>
					<a  href="{% url 'order:request-refund' %}" class="dropdown-item">Request Refund</a>-->	
		
			{% if managerCheck %}
			<a class="dropdown-item" href="{% url 'shop:book_new' %}">+add Book</a>
			<a  class="dropdown-item" href="{% url 'shop:book_list' %}">+list Book</a>
				{% endif %}
				</div>
			</li>
			<span style="margin-left: -14px; margin-right: 5px;">|</span>
		
			<li>
				<a href="{% url 'signout' %}">Sign Out</a> |
			</li>
			<li  style="display: inline-block; margin-right: -170px; margin-left: -18px; padding-right: 120px;" class="nav-item">
				
				<a class="nav-link" href="{% url 'shop:wishList_books' %}"> <i style="margin-left: -15px; margin-right: 5px; "class="fas fa-heart"></i>Wish List</a>
			</li>
			{% else %}
			<li style="display: inline-block; margin-right: -20px;">
				<i class="fas fa-user-plus"></i>
				<a href="{% url 'signup' %}">Sign Up </a>
			</li>
			/
			
			<li style="display: inline-block; margin-right: -25px;">
				<a href="{% url 'signin' %}"> Sign In </a>
			</li>
			<span style="margin-left: 10px; margin-right: 10px;" id="divider">|</span>
			
			<li  style="display: inline-block; margin-right: -170px; margin-left: -18px; padding-right: 120px;" class="nav-item">
				
				<a class="nav-link" href="{% url 'shop:wishList_books' %}"> <i style="margin-right: 5px; "class="fas fa-heart"></i>Wish List</a>
			</li>
			{% endif %}
			
		</ul>
		<!--
	
		<i class="fas fa-sign-out-alt"></i>
		<i class="fas fa-sign-in-alt"></i>
		-->
	</div>
</div>

