{% extends "base.html" %}
{% load static %}
{% block title %}
Order History - Bookspace.
{% endblock %}
{% block content %}
<div class="container">
<div class="row">

	<nav style="text-transform: uppercase; margin-top: 104px; " class="nav flex-column px-3">
		<a style=" background-color:rgb(36, 114, 78); width: 350px; font-weight:20px; " href="{% url 'dashboard_view'%}"
			class="text-justify text-light btn rounded-0"><i class="fas fa-chevron-left"></i> Account dashboard</a>
		<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px"
			class="text-justify text-light btn  rounded-0">Profile </a>
		<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px"
			href="{% url 'shop:wishList_books'%}" class="text-justify text-light btn rounded-0 ">Wishlist</a>
		<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px"
			href="{% url 'order:order_history'%}" class="text-justify text-light btn rounded-0 disabled">Orders</a>
		<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px"
		href="{% url 'shop:reviewList'%}" class="text-justify  text-light btn rounded-0" aria-disabled="true">Reviews</a>

	</nav>







	<div class="text-center">
		<br>
		<h1 class="text-center my_title">Order History</h1>
		<br>
		{% if order_details %}
		<table style="width: 700px;" class="table table-striped d-inline-block">
			<thead>
				<tr>
					<th>Order Number</th>
					<th>Order Date</th>
					<th>Total Amount</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for order in order_details %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.created|date:"d M Y" }}</td>
					<td>{{ order.total }}</td>
					<td><i class="fas fa-check"></i>&nbsp;Complete</td>
					<td><a href="{% url 'order:order_detail' order.id %}">View order</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>You have not placed any orders yet.<br><br><a href="{% url 'shop:allBookCat' %}"
				class="btn btn-secondary">Continue shopping</a></p>
		{% endif %}
	</div>




</div>
</div>
<br>
<br>
{% endblock %}