{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{{ book.description|truncatewords:155 }}
{% endblock %}
{% block title %}
	{{ book.title }} - Online Book Store
{% endblock %}
{% block content %}
	<div class = "row my_prod_row_class">
		<div class = "mx-auto">
			<p><a href="{% url 'shop:allBookCat' %}">Home</a> | <a href="{{ book.category.get_url }}">{{book.category}}</a> | {{book.title}}</p>
		</div>
		<div class ="container">
			<br>
			<div class ="row">
				<div class = "col-12 col-sm-12 col-lg-6 text-center">
					<div>
						<img src="{{book.image.url}}" alt="{{book.title}}">
					</div>
				</div>
				<div class = "col-12 col-sm-12 col-md-12 col-lg-6">
					<div>
						<h1 class="my_prod_title">{{book.title}}</h1>
						<p>€{{book.price}}</p>
						<p class="my_title">Book Description</p>
						<p class="text-justify my_prod_text">{{book.description}}</p>
						{% if book.stock == 0%}
							<p class="text-justify my_prod_text"><b>Out of Stock</b></p>
						{% else %}
							<a class="btn btn-secondary" href="{% url 'cart:add_cart' book.id %}">Add to Cart</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
