{% extends 'base.html'%}
{% block content %}
<h1 class="text-center py-4">Manager Books</h1>

<div  class="container ">

<div class="row mx-auto"> 
    {% for book in books %}

        <div class="my_bottom_margin col-9 col-lg-2 col-sm-4 col-md-3">
            <div style="font-size: 10px; " class="card text-center h-50 border-0" style="min-width: 18rem;">
                <a href="{{book.get_absolute_url}}"><img class="card-img-top my_image" src="{{book.image.url}}" alt="{{book.title}}"></a>
                <div class="card-body">
                    <h4 class="card-text" >{{book.title}}</h4>
                    <p class="card-text">€{{book.price}}</p>
                    <p style="color: rgb(114, 91, 69);" class="card-text">{{book.author}}</p>
                    <a style="font-size: 10px;" class="btn btn-info" href="{% url 'shop:book_edit' book.category.slug book.slug %}">Edit</a><a style="font-size: 10px;" class="btn btn-danger" href="{% url 'shop:book_delete' book.category.slug book.slug %}">Delete</a>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock content%}
