{% extends 'base.html'%}
{% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-header bg-info text-white">
          Information
        </div>
        <div class="card-body">
          <marquee behavior="" direction="">
            <h3 class="my-4">This is the information!</h3>
          </marquee>
        </div>
      </div>    
    </div>
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-info text-white">
          Statistics
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <a class="text-decoration-none text-dark" href="{% url 'dashboard:user_list' %}">
                <div class="card my-card shadow text-center p-3">
                  <h4>Users <i class="fas fa-users"></i></h4>
                  <h3>4</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="text-decoration-none text-dark" href="{% url 'shop:book_list' %}">
                <div class="card my-card shadow text-center p-3">
                  <h4>Products <i class="fas fa-box"></i></h4>
                  <h3>4</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a class="text-decoration-none text-dark" href="{% url 'dashboard:all_orders' %}">
                <div class="card my-card shadow text-center p-3">
                  <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                  <h3>4</h3>
                </div>
              </a>
            </div>
          </div>
        </div>    
    </div>
  </div>
</div>



<div class="container">
<div class="row py-5">
<div class="col-md-4">
<a style="font-size: 20px;" class="btn btn-lg btn-info" href="{% url 'shop:book_new' %}">Add Book +</a>
</div>
<div class="col-md-8">
<h1 class="py-5">Inventory</h1>
<table class="table">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
	  <th scope="col">Activity</th>
    </tr>
  </thead>
    <tbody>
{% for book in books %}
<tr>
<th scope="row"><a href="{{book.get_absolute_url}}"><img class="float-left h-auto mx-auto rounded custom_image" src="{{book.image.url}}" alt="{{book.title}}"></a></th>
<td>{{ book.title }}</td>
<td>{{ book.category.slug }}</td>
<td>{{ book.stock }}</td></a>
<td><a style="font-size: 15px;" class="btn btn-info btn-sm my-2" href="{% url 'shop:book_edit' book.category.slug book.slug %}">Edit</a><a style="font-size: 15px;" class="btn btn-danger btn-sm my-2" href="{% url 'shop:book_delete' book.category.slug book.slug %}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>

{% endblock content%}
