{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {{ book.description|truncatewords:155 }}
{% endblock %}
{% block title %}
    {{ book.title }} - Bookspace.
{% endblock %}
{% block content %}

    <div  class = "row my_prod_row_class">

        
        <div  class ="container ">
        
            
            <div  class = "text-center mx-auto py-3">
           
                <u><p ><a href="{% url 'shop:allBookCat' %}">Home</a></u> | <u><a href="{{ book.category.get_absolute_url }}">{{book.category}}</a></u> | <u>{{book.title}}</p></u>
            </div>
            <br>
            <div class ="row">
                <div class = "col-12 col-sm-12 col-lg-6 text-center">
                    <div>
                        <img src="{{book.image.url}}" alt="{{book.title}}">
                        <br><br>

                        <span style="color: rgb(114, 91, 69);">{{book.author}}</span><span style="font-size: small; font-weight: lighter;"> (author)</span>
                    </div>
                </div>
                <div class = "col-12 col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h1 class="my_prod_title">{{book.title}}</h1>
                        <p style="font-weight: 900;">€{{book.price}}</p>
                        
                        <p class="text-justify my_prod_text">{{book.description}}</p>
                        <p class="text-justify my_prod_text"><i class="fas fa-check"></i> {{book.stock}} in stock</p>
                        {% if book.stock == 0%}
                            <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                        {% else %} 
                            <a class="btn btn-secondary" href="{% url 'cart:add_cart' book.id %}">Add to Cart</a>
                            <a style="background-color: #f3db15;" class="btn btn-alert" href="{% url 'shop:add_wishlist' book.category.pk book.pk %}">Add Wish list</a>
                        {% endif %}
                        <br>
                        
                        <h3 class="my_prod_title">Synopsis: </h3>
                        <p  style="width:400px; font-weight: 200;" class="text-justify my_prod_text my_title border p-3">{{book.synopsis}}
                            <br>
                            <br>
                        <span style="font-weight: bold;" class="text-secondary">Publisher: {{book.publisher}}</span> <span>&nbsp;&nbsp; |&nbsp; &nbsp;</span> <span style="font-weight: bold;" class="text-secondary"> Pages: {{book.num_pages}}</span>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

