{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
<div class="row mt-5">

    <div class="col-4">

<nav style="text-transform: uppercase; " class="nav flex-column">
<a style=" background-color:rgb(36, 114, 78); width: 350px; font-weight:20px; " href="{% url 'dashboard_view'%}" class="text-justify text-light btn rounded-0"><i class="fas fa-chevron-left"></i> Account dashboard</a>
<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px" class="text-justify text-light btn  rounded-0">Profile </a>
<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px" href="{% url 'shop:wishList_books'%}" class="text-justify text-light btn rounded-0">Wishlist</a>
<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px" href="{% url 'order:order_history'%}" class="text-justify text-light btn rounded-0">Orders</a>
<a style="background-color:rgb(36, 114, 78);  width: 350px; font-weight:20px" class="text-justify  text-light btn  disabled rounded-0" aria-disabled="true">Reviews</a>

</nav>

    </div>
    <div class="col-8">
        <h1>{{request.user}}'s reviews</h1>
<div class="row">
    
    {% if reviews %}

        {% for review in reviews%}
        <div class="col-4 reviewCard border-bottom">


            <div class="card">
                <div style=" font-size: 20px; font-style: italic; font-family: Arial, Helvetica, sans-serif; background-color: white;"class="card-header border-0">
                    "{{review.subject}}"
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size: 15px; font-weight: lighter;">{{review.comment}}</p>
                        <footer class="">
                            <p style="text-transform: uppercase; font-size: 12px; font-weight: bolder;">{{review.name}}</p>
                            <p style="text-transform: uppercase; font-size: 12px; margin-top: -17px; ">{{review.created_date}}</p>
                        </footer>
                        <blockquote>
                </div>
            </div>

        </div>
   

        {%endfor%}
    </div>
    </div>
{%else%}
<h1 class="text-center my-5 py-5">No Reviews by {{request.user}}</h1>

{%endif%}

</div>


</div>

{%endblock content%}