{% extends 'base.html'%}
{% block content %}

    <div  class="container pt-1">
        <h1 style="font-weight: lighter;" class="mt-4  my-3 text-center">{{request.user}}'s Wish List</h1>
      
        {% if books %}
        <div class="row mx-auto "> 
            {% for book in books %}
        
                <div class="my_bottom_margin col-9 col-lg-2 col-sm-4 col-md-3 my-3 py-5">
                    <div style="font-size: 10px; " class="card text-center h-50 border-0" style="min-width: 18rem;">
                        <a href="{{book.wished_item.get_absolute_url}}"><img class="card-img-top my_image" src="{{book.wished_item.image.url}}" alt="{{book.title}}"></a>
                        <div class="card-body">
                            <h4 class="card-text" >{{book.wished_item.title}}</h4>
                            <p class="card-text">€{{book.wished_item.price}}</p>
                            <p style="color: rgb(114, 91, 69);" class="card-text">{{book.wished_item.author}}</p>
                            <a style="font-size: 10px;"class="btn btn-danger" href="{% url 'shop:wishList_delete' book.wished_item.pk %}">Delete</a>
                            <br>
                            <a  style="font-size: 10px;"class="btn btn-secondary mt-2" href="{% url 'cart:add_cart' book.wished_item.pk %}">Add to Cart</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="card-text text-center mt-3">No books in wishlist</p>
        {% endif %}
        </div>

 
{% endblock content%}
